body
{
    padding: 50px;
}

.submit-area
{
    padding: 40px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area
{
    display: none;
}

.first
{
   background-color: slateblue;
}
.second
{ 
    background-color: lightsalmon;    
}
.third
{  
    background-color: orange;
}
.status
{   
    margin: 0 20px;
    padding: 20px;
    border-radius: 20px;
}

.dep-wid
{
    padding: 40px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}